.app-outer-div{
  display: flex;
}

.outlet-div{
  position: fixed;
  margin-top : 60px;
  margin-left: 59px;
  width: 100%;
}

.display-center {
  display: flex;
  justify-content: center;
}

.display-flex {
  display: flex;
}

.padd-20 {
  padding: 20px;
}

.margin-top-left-20 {
  margin-top: 20px;
  margin-left: 20px;
}

.font-heading {
  font-weight: bolder;
  font-size: 20px;
}

.font-sub-heading {
  font-weight: bolder;
  font-size: 15px;
}

.height-width-100 {
  height: 100%;
  width: 100%;
}

.border-box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.margin-10 {
  margin: 10px;
}

.scroll-div {
  overflow-y: auto;
  max-height: calc(100vh - 50px);
  scrollbar-width: none;
}

.scroll-div::-webkit-scrollbar {
  display: none;
}
