.app-outer-div{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.outlet-div{
  overflow-y: auto;
  flex-grow: 1;
}

.display-center {
  display: flex;
  justify-content: center;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.display-grid {
  display: grid;
}

.display-center-col {
  display: flex;
  flex-direction: column;
}

.display-right {
  display: flex;
  justify-content: right;
}

.padd-20 {
  padding: 20px;
}

.margin-top-left-20 {
  margin-top: 20px;
  margin-left: 20px;
}

.font-heading {
  font-weight: bolder !important;
  font-size: 20px !important;;
}

.font-sub-heading {
  font-weight: bolder !important;;
  font-size: 15px !important;;
}

.font-bold {
  font-weight: bolder !important;;
}

.height-width-100 {
  height: 100%;
  width: 100%;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.height-width-auto {
  height: auto;
  width: auto;
}

.border-box-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.margin-10 {
  margin: 10px !important;
}

.scroll-div {
  overflow-y: auto;
  max-height: calc(100vh - 50px);
  scrollbar-width: none;
}

.scroll-div::-webkit-scrollbar {
  display: none;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover {
  color: #00bdd6;
}

.cursor-pointer {
  cursor: pointer;
}

.pos-fixed {
  position: fixed;
}

.dropdown-field {
  width: 100%;
  height: 37px;
  background-color: white;
}

.btn-1 {
  background-color: #00BDD6FF !important;
  color: white !important;
  opacity: 1;
  border: none;
  border-radius: 4px;
  gap: 6px;
  padding: 0 16px;
  height: 35px;
  width: auto;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
}

.btn-1:hover {
  background-color: #00a9c0 !important;
}

.btn-1-outlined {
  color: #00BDD6FF !important;
  border-color: #00BDD6FF !important;
}

.disabled-button {
  opacity: 0.5;
  pointer-events: none;
}

.ts-btn {

}

.app-color {
  color: #00BDD6FF;
}

.app-bg-color {
  background-color: #00BDD6FF !important;
}

.app-font {
  font-family: Epilogue, sans-serif;
}