.notf-parent-cont-1 {
    height: 100vh;
    background-color: #F8F9FAFF;
    box-shadow: 3px 0 5px -5px rgba(0, 0, 0, 0.5);
}

.notf-parent-cont-2 {
    height: 100vh;
    /*max-height: calc(100vh - 50px);*/
}

.notf-body-1 {
    position: fixed;
    padding: 20px;
    width: -webkit-fill-available;
}

.notf-title-cont {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.notf-card-cont {
    margin-left: 5px;
    margin-top: 20px;
}

.notf-card-bg-read {
    background-color: #c2c2c2;
}

.close-icon-notf {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px !important;
    height: 35px !important;
}

.close-icon-notf:hover {
    background-color: #c3c8c6;
}