.notify-card-cont-1 {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;

}

.notify-card-cont-2 {
    padding: 25px;
}

.notify-card-user-cont {
    display: flex;
}

.notify-card-user-text {
    font-weight: bolder;
}

.notify-card-title-cont {
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}