npm install react-router-dom
npm install @mui/material @emotion/react @emotion/styled
npm install nodemon --save-dev
npm install @fortawesome/react-fontawesome @fortawesome/free-solid-svg-icons
npm install chart.js react-chartjs-2
npm install jquery
npm install @mui/icons-material
npm install @mui/styles
npm install stomp-websocket
npm install @mui/x-charts