.parent-div-1 {
    margin-right: 1020px;
    position: fixed;
}

.filter-form-container {

}

.drawer-dim {
    width: 25%;
}

.due-field {
    width: 93%;
}

.select-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 20 20" fill="%23444444" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M10 12L6 8h8l-4 4z"/></svg>'); /* Custom dropdown arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
}