.view-title-1 {

}

.view-cont-1 {
    margin: 25px;
}

.view-cont-2 {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: fit-content;
}

.view-cont-3 {
    margin-top: 50px;
    border-top: 0.5px Solid gray;
}

.cont-2-row-1 {
    margin-top: 30px;
    min-height: 35px;
}

.cont-2-col-1 {
    width: 200px !important;
}

.cont-2-col-2 {
    width: 300px !important;
}

.priority-div {
    padding: 10px;
    width: auto !important;
    border-radius: 15px;
    height: auto;
}

.priority-div-cont {
    align-items: center;
}

.comm-head {
    margin-top: 25px;
}

.time-line-parent {
    width: calc(100% - 1090px);
    box-shadow: -13px 0px 42px -31px rgba(0,0,0,0.45);
}

.view-par-cont-1{
    height: 100%;
}

.edit-icon-dim {
    width: 20px;
}