.graph-comp-wid {
    width: 250px;
    height: 100px;
    border-radius: 6px;
}

.stats-comp-value-pos {
    display: flex;
    align-items: center;
    width: 98px;
}

.stats-comp-value-font {
    font-size: 50px;
}