.list-tab-dim {
    width: 90% !important;
    margin: 2%;
}

.list-header {
    margin-top: 1%;
}

.pagination-div {
    margin-left: 64%;
}

.nav-list-button {
    padding: 3px;
}

.nav-list-button:hover {
    background-color: #00BDD6FF;
    border-radius: 10px;
    color: white;
}

.list-btn-create {
    margin-left: 25px !important;
    height: 40px;
    width: 130px;
}